$main-width-max: 35rem;
$aside-width-large: 12rem;
$aside-width-small: 4rem;
$column-gap-large: 2rem;
$row-gap: 2rem;

$content-width-large: $main-width-max + $aside-width-large + $column-gap-large;
$min-margin: 1rem;
$content-box-large: $content-width-large + 2 * $min-margin;

body {
    margin: 0px $min-margin;
}

#content {
    max-width: $content-width-large;
    margin: 2rem auto;
    padding-top: 0.5rem;
    border-top: 1px dotted gray;

    display: flex;
    flex-wrap: wrap;
    column-gap: $column-gap-large;
    row-gap: $row-gap;
    justify-content: space-between;
}

header {
    flex: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 1.5rem;
    row-gap: 0.4rem;

    h1 {
        margin: 0px;
        padding: 0px;
    }

    nav {
        flex-shrink: 0;
        padding-right: 2px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li:not(:first-child)::before {
            content: '/';
            padding-right: 1ch;
        }

        li:not(:first-child) {
            padding-left: 1ch;
        }
    }
}

main {
    flex: $main-width-max;
    > :first-child { margin-top: 0px; }
    > :last-child { margin-bottom: 0px; }
}

#portrait {
    flex: $aside-width-large;
    img {
        display: block;
        width: $aside-width-large;
        height: $aside-width-large;
        padding-top: calc(1rem / 3);       // align with top of text
    }
}

@media (width < $content-box-large * $font-size-min / 1rem) {
    #content {
        max-width: $main-width-max;
    }

    header {
        flex: none;
        flex-direction: column;
        h1 { font-size: 1.6em; }
    }

    #portrait {
        flex: none;
        display: block;
        img {
            padding: 0rem 0.05rem;
            width: $aside-width-small;
            height: $aside-width-small;
        };
    }
}
