body {
    max-width: 35rem;
    margin: 2rem auto;
    padding-top: 0.5rem;
    border-top: 1px dotted gray;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5rem;

    h1 {
        margin: 0px 1em 0.4em 0px;
        padding: 0px;
    }

    nav {
        flex-shrink: 0;
        padding-right: 2px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li:not(:first-child)::before {
            content: '/';
            padding-right: 1ch;
        }

        li:not(:first-child) {
            padding-left: 1ch;
        }
    }
}

#portrait {
    display: none;
}
