body {
    max-width: 43rem;
    margin: 0px auto;
    padding: 2rem;
}

header {
    border-top: 1px dotted gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;

    h1 {
        margin: 0px 1ch 0.4em 0px;
        padding: 0px;
    }

    nav {
        flex-shrink: 0;
        padding-right: 2px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li:not(:first-child)::before {
            content: '/';
            padding-right: 1ch;
        }

        li:not(:first-child) {
            padding-left: 1ch;
        }
    }
}
