---
---

@import "{{ site.theme }}";

#header {
    border-top: 1px dotted gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}

#header h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: normal;
}

#header ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;
}

#header li:not(:first-child)::before {
    content: '/';
    padding-right: 1ch;
}

#header li:not(:first-child) {
    padding-left: 1ch;
}

.markdown-body {
    max-width: 50em;
}
