---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-BoldItalic.woff2");
    font-weight: 700 799;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Bold.woff2");
    font-weight: 700 799;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-ExtraLightItalic.woff2");
    font-weight: 200 299;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-ExtraLight.woff2");
    font-weight: 200 299;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Italic.woff2");
    font-weight: 400 499;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-LightItalic.woff2");
    font-weight: 300 399;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Light.woff2");
    font-weight: 300 399;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-MediumItalic.woff2");
    font-weight: 500 599;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Medium.woff2");
    font-weight: 500 599;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Regular.woff2");
    font-weight: 400 499;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-SemiBoldItalic.woff2");
    font-weight: 600 699;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-SemiBold.woff2");
    font-weight: 600 699;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-ThinItalic.woff2");
    font-weight: 100 199;
    font-style: italic;
}
@font-face {
    font-family: "Drafting* Mono";
    src: url("/fonts/drafting-mono/DraftingMono-Thin.woff2");
    font-weight: 100 199;
}

#header {
    border-top: 1px dotted gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    padding-top: 4px;
}

#header h1 {
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    border: none;
    line-height: normal;
}

#header ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;
}

#header li:not(:first-child)::before {
    content: '/';
    padding-right: 1ch;
}

#header li:not(:first-child) {
    padding-left: 1ch;
}

.markdown-body {
    max-width: 45em;
    font-family: "Drafting* Mono", monospace;
}
