<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1">
    {% seo %}
    <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | bust_css_cache }}">
  </head>
  <body>
    <!-- Fix flash of unstyled content in Firefox.
    https://stackoverflow.com/a/57888310 -->
    <script>0</script>
    <div id="content">
      <header>
        <h1>{{ site.title }}</h1>
        <nav>
          <ul>
            <li><a href="/cv.pdf">CV</a></li>
            <li><a href="{{ site.github_url }}">GitHub</a></li>
            <li><a href="mailto:{{ site.email }}">Contact</a></li>
          </ul>
        </nav>
      </header>
      <aside id="portrait">
        <img src="/me.jpg" alt="My picture">
      </aside>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
